@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v6/-F63fjptAgt5VM-kVkqdyU8n1iIq129k.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
html,body{
    height: 100%;
}
a {
    text-decoration: none!important;
}
.main-content {
    display: table;
    height: 100%;
    margin: 0 auto;
}
.main-content .container {
    display: table-cell;
    vertical-align: middle;
}

p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
}   
.register-sec {
   margin: 0;
   /*position: absolute;
   top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
   display: table!important;
}
.register-content {
    padding: 40px 20px;
}
.register-sec {
    max-width: 775px;
    height: 484.34px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
}

img.employee-img {
    width: 100%;
}

.img-sec.one-half {
    height: 485px;
  /*  width: 100%;*/
    padding: 0;
}
.img-overlay  {width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo-img{
    width: 200px;
    height: 50.02px;
}
.content {
    padding: 15px;
}
.content {
   text-align: right;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.content p{
    font-family: 'IBM Plex Mono';
    font-size: 22px;
    color: #fff;
    line-height: 28.6px;

}
.logo-title {
    text-align: right;
}
.logo-title a {
   
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #C4C4C4;
}
.reg-title a,.register-head {
    /*font-family: Messina Sans;*/
    font-style: normal;
    font-weight: bold!important;
    font-size: 30px!important;
    line-height: 36px!important;
    color: #2C98F7!important;
}
/*.reg-title a {
  
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2C98F7;
}*/
p.instr-content {
    /*margin-top: 30px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #EB5757;
}
.text-center{
    text-align: center;
    display: grid;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 2.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #000;
    height:60px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 14px 0;
}
legend {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: #2C98F7;
    white-space: normal;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
input {
    width: 100%;
    border: none;
}
input:focus {
    outline: none;
}
.submit-btn input {
    background: #2C98F7;
    border-radius: 11.3721px;
    max-width: 287.55px;
    height: 45.97px;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: #fff;
    /*font-family: Messina Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
img.eye-img {
        cursor: pointer;
    position: relative;
    float: right;
    margin-top: -39px;
}
.error-display span {
    color: #ef0505;
}
.error-display{
    text-align: center;
        margin: 10px;
}
@media only screen and (max-width:992px){


}